.section {
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
    padding: 0 20px;
    box-sizing: border-box;
}

.section h1 {
    font-size: 25px;
    color: white;
    margin: 0;
    margin-bottom: 20px;
}